#pile {
    background-color: red;
}
#face {
    background-color: green;
}
div {
    width:40%;
    border:black solid 5px;
    text-align: center;
    vertical-align: center;
    padding: 80px 0;
    font-size: 50px;
}

#partiehaute {
    width:100%;
    display: flex;
    justify-content: space-around;
}

#score {
    display: block;
    text-align: center;
    width:100%;
}